Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

.lintstagedrc:

{
  "*.{json,md,sol,yml}": [
    "prettier --config .prettierrc.yml --write"
  ],
  "broadcast/**/*.json": "./bin/pre-commit-check.sh"
}

chore: removed commented out vars
  bin/setup.sh
Due: none

fixes: redeploy new renamer version
  broadcast/MGP12-00-Rename-Implementation.sol/11142220/run-latest.json
  broadcast/MGP12-00-Rename-Implementation.sol/42220/run-latest.json
  contracts/StableTokenV2Renamer.sol
  script/upgrades/MGP12/MGP12.md
  script/upgrades/MGP12/MGP12.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: MGP12 - Mento Stablecoins Rebranding (#285)
  .env.example
  bin/pre-commit-check.sh
  bin/setup.sh
  bin/verify-celoscan.ts
  broadcast/MGP12-00-Rename-Implementation.sol/11142220/run-latest.json
  broadcast/MGP12-00-Rename-Implementation.sol/42220/run-latest.json
  contracts/MockGovernanceFactory.sol
  contracts/StableTokenV2Renamer.sol
  foundry.toml
  script/dev/dev-DeployMockGovernanceFactory.sol
  script/upgrades/MGP12/Config.sol
  script/upgrades/MGP12/MGP12.md
  script/upgrades/MGP12/MGP12.sol
  script/upgrades/MGP12/MGP12Checks.sol
  script/upgrades/MGP12/deploy/MGP12-00-Rename-Implementation.sol
  script/upgrades/dependencies.json
  script/utils/mento/Chain.sol
  script/utils/mento/Contracts.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: MGP13 wip
  script/upgrades/MGP13/Config.sol
  script/upgrades/MGP13/MGP13.md
  script/upgrades/MGP13/MGP13.sol
  script/upgrades/MGP13/MGP13Checks.sol
  script/upgrades/MGP13/deploy/MGP13-00-Deploy-BiPoolManager-Implementation.sol
  script/utils/Chain.sol
Due: prettier --config .prettierrc.yml --write

chore: deploy TmpBiPoolManager to sepolia
  broadcast/MGP13-00-Deploy-BiPoolManager-Implementation.sol/11142220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: working simulation for sepolia
  script/upgrades/MGP13/Config.sol
  script/upgrades/MGP13/MGP13.sol
  script/upgrades/MGP13/MGP13Checks.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write

fix: working value delta breaker update
  script/upgrades/MGP13/Config.sol
  script/upgrades/MGP13/MGP13.sol
  script/upgrades/MGP13/MGP13Checks.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write

chore: better logging
  script/upgrades/MGP13/Config.sol
  script/upgrades/MGP13/MGP13.sol
  script/upgrades/MGP13/MGP13Checks.sol
Due: prettier --config .prettierrc.yml --write

chore: re-deploy sepolia contract
  broadcast/MGP13-00-Deploy-BiPoolManager-Implementation.sol/11142220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy tmp biPoolManager to mainnet
  broadcast/MGP13-00-Deploy-BiPoolManager-Implementation.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

docs: better MGP13.md
  script/upgrades/MGP13/MGP13.md
Due: prettier --config .prettierrc.yml --write

fix: more readable thresholds
  script/upgrades/MGP13/Config.sol
Due: prettier --config .prettierrc.yml --write

Update script/upgrades/MGP13/MGP13.md
  script/upgrades/MGP13/MGP13.md
Due: prettier --config .prettierrc.yml --write

chore: typo
  script/upgrades/MGP13/MGP13.md
Due: prettier --config .prettierrc.yml --write

fix: pr comments
  script/upgrades/MGP13/MGP13.sol
  script/upgrades/MGP13/MGP13Checks.sol
Due: prettier --config .prettierrc.yml --write

fix: proposal title
  script/upgrades/MGP13/MGP13.sol
Due: prettier --config .prettierrc.yml --write

feat: MGP13 (#286)
  broadcast/MGP13-00-Deploy-BiPoolManager-Implementation.sol/11142220/run-latest.json
  broadcast/MGP13-00-Deploy-BiPoolManager-Implementation.sol/42220/run-latest.json
  script/upgrades/MGP13/Config.sol
  script/upgrades/MGP13/MGP13.md
  script/upgrades/MGP13/MGP13.sol
  script/upgrades/MGP13/MGP13Checks.sol
  script/upgrades/MGP13/deploy/MGP13-00-Deploy-BiPoolManager-Implementation.sol
  script/upgrades/dependencies.json
  script/utils/Chain.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

docs: add submodule init and fork test instructions to README
  README.md
Due: prettier --config .prettierrc.yml --write
