Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

.lintstagedrc:

{
  "*.{json,md,sol,yml}": [
    "prettier --config .prettierrc.yml --write"
  ],
  "broadcast/**/*.json": "./bin/pre-commit-check.sh"
}

feat: deploy CELO/COP and COP/USD relayers to both networks
  broadcast/COPWhitelist-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/COPWhitelist-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: execute COPWhitelist proposal on Alfajores
  broadcast/COPWhitelist.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

refactor: update token name
  script/upgrades/cCOP/Config.sol
Due: prettier --config .prettierrc.yml --write

feat: $cCOP launch deployment scripts (#226)
  script/upgrades/cCOP/Config.sol
  script/upgrades/cCOP/cCOP.sol
  script/upgrades/cCOP/cCOPChecks.base.sol
  script/upgrades/cCOP/cCOPChecks.sol
  script/upgrades/cCOP/cCOPChecks.swap.sol
  script/upgrades/cCOP/cCOPChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: deploy cCOP proxy to alfajores and mainnet (#227)
  broadcast/cCOP-00-Create-Proxies.sol/42220/run-latest.json
  broadcast/cCOP-00-Create-Proxies.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: link cgp md
  script/upgrades/COPWhitelist/COPWhitelist.sol
Due: prettier --config .prettierrc.yml --write

feat: $cCOP relayers deployment scripts (#228)
  broadcast/COPWhitelist-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/COPWhitelist-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/COPWhitelist.sol/44787/run-latest.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-COPUSD.json
  script/dev/dev-DeployMockChainlinkAggregator.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/upgrades/COPWhitelist/COPWhitelist.sol
  script/upgrades/COPWhitelist/COPWhitelistChecks.sol
  script/upgrades/COPWhitelist/deploy/COPWhitelist-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: update cCOP pool reset frequency
  script/upgrades/cCOP/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: remove pending comments
  script/upgrades/cCOP/Config.sol
Due: prettier --config .prettierrc.yml --write

fix: update cCOP pool reset frequency (#230)
  script/upgrades/cCOP/Config.sol
Due: prettier --config .prettierrc.yml --write

feat: deploy distributors
  broadcast/MINIDROP-00-Create-MerkleDistributor.sol/42220/run-latest.json
  data/oct2024.minipay.MENTO.root.json
  data/oct2024.minipay.cUSD.root.json
  script/dev/dev-DeployTestingMerkleDistributor.sol
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

forge install: mento-core-2.6.0
  .gitmodules
Due: none

feat: add deployment script for cGHS (pilot)
  bin/utils/sourcify.ts
  bin/verify-celoscan.ts
  broadcast/cGHS-pilot-Deploy-Proxy.sol/44787/run-1729778630.json
  broadcast/cGHS-pilot-Deploy-Proxy.sol/44787/run-latest.json
  script/upgrades/cGHS-pilot/deploy/cGHS-pilot-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: remove broadcast script
  broadcast/cGHS-pilot-Deploy-Proxy.sol/44787/run-1729778630.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: deploy to mainnet
  bin/verify-celoscan.ts
  broadcast/cGHS-pilot-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cGHS-pilot-Deploy-Proxy.sol/44787/run-latest.json
  script/upgrades/cGHS-pilot/deploy/cGHS-pilot-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: update cCOP proposal MD url
  script/upgrades/cCOP/cCOP.sol
Due: prettier --config .prettierrc.yml --write

feat: install node deps for lib in CI
  .github/workflows/ci.yml
Due: prettier --config .prettierrc.yml --write

chore: add cCOP proxy transfer to MU08
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

chore: update cCOP proposal MD url (#233)
  script/upgrades/cCOP/cCOP.sol
Due: prettier --config .prettierrc.yml --write

chore: add cCOP proxy transfer to MU08 (#234)
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

feat: Deploy merkle distributors for 1st MiniPay campaign (#231)
  broadcast/MINIDROP-00-Create-MerkleDistributor.sol/42220/run-latest.json
  data/oct2024.minipay.MENTO.root.json
  data/oct2024.minipay.cUSD.root.json
  script/dev/dev-DeployTestingMerkleDistributor.sol
  script/upgrades/MINIDROP/Import.sol
  script/upgrades/MINIDROP/data/alfajores.root.json
  script/upgrades/MINIDROP/data/celo.root.json
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: Deploy cGHS (pilot) (#232)
  .github/workflows/ci.yml
  .gitmodules
  bin/utils/sourcify.ts
  bin/verify-celoscan.ts
  broadcast/cGHS-pilot-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cGHS-pilot-Deploy-Proxy.sol/44787/run-latest.json
  script/upgrades/cGHS-pilot/deploy/cGHS-pilot-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: add partial reserve multisig as other reserve addresses, remove current addresses
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

feat: add partial reserve multisig as other reserve addresses, remove current addresses (#235)
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

wip
  broadcast/ExecuteProposal.sol/44787/run-1730384455.json
  broadcast/ExecuteProposal.sol/44787/run-latest.json
  broadcast/MU09-00-Create-Implementations.sol/44787/run-1730279312.json
  broadcast/MU09-00-Create-Implementations.sol/44787/run-1730280139.json
  broadcast/MU09-00-Create-Implementations.sol/44787/run-1730299884.json
  broadcast/MU09-00-Create-Implementations.sol/44787/run-latest.json
  broadcast/MU09.sol/44787/run-1730383409.json
  broadcast/MU09.sol/44787/run-latest.json
  script/interfaces/IGovernor.sol
  script/upgrades/MU01/MU01.sol
  script/upgrades/MU09/Config.sol
  script/upgrades/MU09/MU08.md
  script/upgrades/MU09/MU09.sol
  script/upgrades/MU09/MU09Checks.sol
  script/upgrades/MU09/deploy/MU09-00-Create-Implementations.sol
  script/upgrades/cCOP/cCOP.sol
  script/upgrades/cCOP/cCOPChecks.base.sol
  script/upgrades/cCOP/cCOPChecks.sol
  script/upgrades/cCOP/cCOPChecks.swap.sol
  script/upgrades/cCOP/cCOPChecks.verify.sol
  script/utils/Chain.sol
  script/utils/Config.sol
  script/utils/Contracts.sol
  script/utils/mento/Chain.sol
  script/utils/mento/Config.sol
  script/utils/mento/Script.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

docs: smol README fixes
  README.md
Due: prettier --config .prettierrc.yml --write

chore: update comment for mockCLaggregator
  script/dev/dev-DeployMockChainlinkAggregator.sol
Due: prettier --config .prettierrc.yml --write

chore: removed baklava broadcast files
  broadcast/MU01-00-Create-Proxies.sol/62320/run-latest.json
  broadcast/MU01-01-Create-Nonupgradeable-Contracts.sol/62320/run-latest.json
  broadcast/MU01-02-Create-Implementations.sol/62320/run-latest.json
  broadcast/MU01-03-Governance-Ownership-Transfer.sol/62320/run-latest.json
  broadcast/MU01.sol/62320/run-latest.json
  broadcast/MU02-02-Create-Implementations.sol/62320/run-latest.json
  broadcast/MU02.sol/62320/run-latest.json
  broadcast/MU03-01-Create-Nonupgradeable-Contracts.sol/62320/run-latest.json
  broadcast/MU03-02-Create-Implementations.sol/62320/run-latest.json
  broadcast/MU03.sol/62320/run-latest.json
  broadcast/MU04-00-Create-Implementations.sol/62320/run-latest.json
  broadcast/MU07-Deploy-ChainlinkRelayerFactory.sol/62320/run-latest.json
  broadcast/MU07-Deploy-ChainlinkRelayers.sol/62320/run-latest.json
  broadcast/MU07.sol/62320/run-latest.json
  broadcast/MUGOV-00-Create-Factory.sol/62320/run-latest.json
  broadcast/MUGOV.sol/62320/run-latest.json
  broadcast/PUSO-00-Create-Proxies.sol/62320/run-latest.json
  broadcast/cKES-00-Create-Proxies.sol/62320/run-latest.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/62320/run-CELOUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/62320/run-PHPUSD.json
  broadcast/eXOF-00-Create-Proxies.sol/62320/run-latest.json
  broadcast/eXOF-01-Create-Implementations.sol/62320/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: ignore .trunk from prettier
  .prettierignore
Due: none

feat: modify MU08 to transfer back to celo gov
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

chore: make cgp mento gov compatible
  broadcast/ExecuteProposal.sol/44787/run-1730997678.json
  broadcast/ExecuteProposal.sol/44787/run-latest.json
  broadcast/MU08.sol/44787/run-1730992919.json
  broadcast/MU08.sol/44787/run-1730996578.json
  broadcast/MU08.sol/44787/run-latest.json
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: add deployment script
  script/upgrades/MU09/deploy/MU09-Deploy-LockingProxyAdmin.sol
Due: prettier --config .prettierrc.yml --write

docs: add md for proposal
  script/upgrades/MU09/MU09.md
Due: prettier --config .prettierrc.yml --write

docs: remove mention of unneeded checks
  script/upgrades/MU09/MU09.md
Due: prettier --config .prettierrc.yml --write

feat: add MU09 governance script
  script/upgrades/MU09/MU09.sol
Due: prettier --config .prettierrc.yml --write

fix: correct cast
  script/upgrades/MU09/deploy/MU09-Deploy-LockingProxyAdmin.sol
Due: prettier --config .prettierrc.yml --write

feat: add MU09 checks
  script/upgrades/MU09/MU09Checks.sol
Due: prettier --config .prettierrc.yml --write
