Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

.lintstagedrc:

{
  "*.{json,md,sol,yml}": [
    "prettier --config .prettierrc.yml --write"
  ],
  "broadcast/**/*.json": "./bin/pre-commit-check.sh"
}

chore: add current state
  broadcast/GD-00-Deploy-Implementations.sol/44787/run-latest.json
  broadcast/GD-01-Deploy-Proxies.sol/44787/run-latest.json
  contracts/GoodDollar.sol
  script/dev/dev-DeployMockGoodDollar.sol
  script/interfaces/ITransparentUpgradeableProxy.sol
  script/upgrades/GD/Config.sol
  script/upgrades/GD/GD.md
  script/upgrades/GD/GD.sol
  script/upgrades/GD/GDChecks.base.sol
  script/upgrades/GD/GDChecks.sol
  script/upgrades/GD/GDChecks.swap.sol
  script/upgrades/GD/GDChecks.verify.sol
  script/upgrades/GD/deploy/GD-00-Deploy-Implementations.sol
  script/upgrades/GD/deploy/GD-01-Deploy-Proxies.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: add 2.6.3
  .gitmodules
  remappings.txt
Due: none

feat: add cJPY and cNGN proxies deployment scripts
  script/upgrades/cJPY-cNGN/deploy/cJPY-00-Deploy-Proxy.sol
  script/upgrades/cJPY-cNGN/deploy/cNGN-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write

feat: deploy to Alfajores
  broadcast/cJPY-00-Deploy-Proxy.sol/44787/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/44787/run-latest.json
  script/upgrades/cJPY-cNGN/deploy/cJPY-00-Deploy-Proxy.sol
  script/upgrades/cJPY-cNGN/deploy/cNGN-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: mainnet deployments
  broadcast/cJPY-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: rename folder
  script/upgrades/cJPYxNGN/deploy/cJPY-00-Deploy-Proxy.sol
  script/upgrades/cJPYxNGN/deploy/cNGN-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write

chore: remove reserve related code
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

chore: working revert
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/deploy/MU08-00-Create-Proxies.sol
  script/upgrades/MU08Revert/MU08Revert.sol
  script/upgrades/MU08Revert/MU08RevertChecks.sol
Due: prettier --config .prettierrc.yml --write

chore: submit to mento gov
  script/upgrades/MU08Revert/MU08Revert.sol
Due: prettier --config .prettierrc.yml --write

chore: some stuff
  foundry.toml
  script/upgrades/MU08Revert/MU08Revert.md
  script/upgrades/MU08Revert/MU08Revert.sol
Due: prettier --config .prettierrc.yml --write

chore: add ETHUSD aggregator dependencies
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ETHUSD.json
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: relay mock ETHUSD rate
  script/dev/dev-UpdateMockChainlinkAggregators.sol
Due: prettier --config .prettierrc.yml --write

chore: deploy relayer to Alfajores
  broadcast/ETHRelayer-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  script/upgrades/ETHRelayer/deploy/ETHRelayer-00-Deploy-ChainlinkRelayers.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: whitelist relayer script
  script/upgrades/ETHRelayer/ETHRelayer.sol
  script/upgrades/ETHRelayer/ETHRelayerChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: cJPY and cNGN deployment scripts (#260)
  .gitmodules
  broadcast/cJPY-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cJPY-00-Deploy-Proxy.sol/44787/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/44787/run-latest.json
  remappings.txt
  script/upgrades/cJPYxNGN/deploy/cJPY-00-Deploy-Proxy.sol
  script/upgrades/cJPYxNGN/deploy/cNGN-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: add deploy and governance script
  script/upgrades/cGHS-rename/cGHSRename.sol
  script/upgrades/cGHS-rename/deploy/cGHS-Rename-Deploy-Implementation.sol
Due: prettier --config .prettierrc.yml --write

chore: add checks
  .gitmodules
  remappings.txt
  script/upgrades/cGHS-rename/cGHSRenameChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: rename deploy script
  script/interfaces/IERC20Lite.sol
  script/upgrades/cGHS-rename/cGHSRename.sol
  script/upgrades/cGHS-rename/cGHSRenameChecks.sol
  script/upgrades/cGHS-rename/deploy/cGHS-00-Temp-Implementation.sol
Due: prettier --config .prettierrc.yml --write

feat: mgp04 is executed on alfajores
  broadcast/MGP04.sol/44787/run-latest.json
  foundry.toml
  script/upgrades/MGP04/MGP04.md
  script/upgrades/MGP04/MGP04.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy relayer to mainnet
  broadcast/ETHRelayer-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: add proposal md url
  script/upgrades/ETHRelayer/ETHRelayer.sol
Due: prettier --config .prettierrc.yml --write

chore: rename MU04 -> MU05 & propsoe on mainnet
  broadcast/MGP05.sol/42220/run-latest.json
  broadcast/MGP05.sol/44787/run-latest.json
  foundry.toml
  script/upgrades/MGP05/MGP05.md
  script/upgrades/MGP05/MGP05.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: use newer solidity version
  script/upgrades/cGHS-rename/deploy/cGHS-00-Temp-Implementation.sol
Due: prettier --config .prettierrc.yml --write

chore: deploy temp stable
  broadcast/cGHS-00-Temp-Implementation.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: rename folder
  script/upgrades/cGHSRename/cGHSRename.sol
  script/upgrades/cGHSRename/cGHSRenameChecks.sol
  script/upgrades/cGHSRename/deploy/cGHS-00-Temp-Implementation.sol
Due: prettier --config .prettierrc.yml --write

chore: mainnet deployment of temp implementation
  broadcast/cGHS-00-Temp-Implementation.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: initial config
  script/upgrades/cJPYxNGN/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: add load overloads that always uses latest
  script/utils/Contracts.sol
Due: prettier --config .prettierrc.yml --write

chore: rename upgrade to not mess with compiler
  script/upgrades/RenameCGHS/RenameCGHS.sol
  script/upgrades/RenameCGHS/RenameCGHSChecks.sol
  script/upgrades/RenameCGHS/deploy/cGHS-00-Temp-Implementation.sol
Due: prettier --config .prettierrc.yml --write

chore: remove old deploy script
  script/upgrades/cGHSRename/deploy/cGHS-00-Temp-Implementation.sol
Due: prettier --config .prettierrc.yml --write

feat: GHS name update (#262)
  .gitmodules
  broadcast/cGHS-00-Temp-Implementation.sol/42220/run-latest.json
  broadcast/cGHS-00-Temp-Implementation.sol/44787/run-latest.json
  remappings.txt
  script/interfaces/IERC20Lite.sol
  script/upgrades/RenameCGHS/RenameCGHS.sol
  script/upgrades/RenameCGHS/RenameCGHSChecks.sol
  script/upgrades/RenameCGHS/deploy/cGHS-00-Temp-Implementation.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: add scripts for ngn + jpy
  script/upgrades/cJPYxNGN/Config.sol
  script/upgrades/cJPYxNGN/cJPYxNGN.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.base.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.swap.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: remove unused imports
  script/upgrades/cJPYxNGN/cJPYxNGN.sol
Due: prettier --config .prettierrc.yml --write

chore: remove unused imports
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: correct ratefeed id
  script/upgrades/cJPYxNGN/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: asset 0 limits ant token symbols
  script/upgrades/cJPYxNGN/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: fix build errors
  script/upgrades/cJPYxNGN/cJPYxNGN.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.swap.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: remove todos
  script/upgrades/cJPYxNGN/Config.sol
Due: prettier --config .prettierrc.yml --write

feat: use fee currency directory
  script/upgrades/cJPYxNGN/cJPYxNGN.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

feat: add CELO/ETH relayer deployment scripts (#261)
  broadcast/ETHRelayer-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/ETHRelayer-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ETHUSD.json
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/upgrades/ETHRelayer/ETHRelayer.sol
  script/upgrades/ETHRelayer/ETHRelayerChecks.sol
  script/upgrades/ETHRelayer/deploy/ETHRelayer-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh
