Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

.lintstagedrc:

{
  "*.{json,md,sol,yml}": [
    "prettier --config .prettierrc.yml --write"
  ],
  "run*.json": "./bin/pre-commit-check.sh"
}

feat: hooked in celoscan verification script into pre-commit check
  bin/check-celoscan-verification.sh
  bin/pre-commit-check.sh
  package.json
Due: prettier --config .prettierrc.yml --write

feat: allow multiple file paths to be passed to pre-commit check script
  .husky/pre-commit
  .lintstagedrc
  bin/check-celoscan-verification.sh
  bin/pre-commit-check.sh
Due: none

build: bump CI node version from v16 to v20
  .github/workflows/ci.yml
Due: prettier --config .prettierrc.yml --write

build: skip pre-commit verification check for baklava
  bin/pre-commit-check.sh
Due: none

build: also match factory contract deployments in pre commit script
  bin/pre-commit-check.sh
Due: none

build: also detect contracts deployed via CREATE2 in pre-commit verification check
  bin/pre-commit-check.sh
Due: none

celoscan contract verification check script (#211)
  .github/workflows/ci.yml
  .husky/_/husky.sh
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  bin/check-celoscan-verification.sh
  bin/pre-commit-check.sh
  package.json
  yarn.lock
Due: prettier --config .prettierrc.yml --write

fix: update rate feed ID
  script/upgrades/PUSO/Config.sol
Due: prettier --config .prettierrc.yml --write

fix: use previously deployed StableTokenPHPProxy
  broadcast/PSO-00-Create-Proxies.sol/42220/run-latest.json
  broadcast/PSO-00-Create-Proxies.sol/44787/run-latest.json
  broadcast/PSO-00-Create-Proxies.sol/62320/run-latest.json
  broadcast/PUSO-00-Create-Proxies.sol/42220/run-latest.json
  broadcast/PUSO-00-Create-Proxies.sol/44787/run-latest.json
  broadcast/PUSO-00-Create-Proxies.sol/62320/run-latest.json
  script/upgrades/PUSO/PUSO.sol
  script/upgrades/PUSO/PUSOChecks.base.sol
  script/upgrades/PUSO/PUSOChecks.sol
  script/upgrades/PUSO/PUSOChecks.swap.sol
  script/upgrades/PUSO/PUSOChecks.verify.sol
  script/upgrades/PUSO/deploy/PUSO-00-Create-Proxies.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: remove mento-core-2.4.0
  .gitmodules
  remappings.txt
Due: none

feat: add MU08 gov script
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write

refactor: update verification check message
  script/upgrades/PUSO/PUSOChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

feat: add MU08 checks
  bin/cgp.sh
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

feat: execute MU07 on baklava
  broadcast/MU07.sol/62320/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: update deployment scripts for relayers with maxTimestampSpread
  script/upgrades/MU07/MU07.sol
  script/upgrades/MU07/MU07Checks.sol
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayers.sol
Due: prettier --config .prettierrc.yml --write

feat: redeploy and whitelist relayers
  bin/utils/etherscan.ts
  bin/verify-celoscan.ts
  broadcast/ExecuteProposal.sol/44787/MU07.json
  broadcast/MU07-Deploy-ChainlinkRelayerFactory.sol/44787/run-latest.json
  broadcast/MU07-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/MU07.sol/44787/run-latest.json
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayerFactory.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: nit fixes
  script/upgrades/PUSO/Config.sol
  script/upgrades/PUSO/PUSOChecks.swap.sol
Due: prettier --config .prettierrc.yml --write

Feat: PUSO gov script (#209)
  broadcast/PUSO-00-Create-Proxies.sol/42220/run-latest.json
  broadcast/PUSO-00-Create-Proxies.sol/44787/run-latest.json
  broadcast/PUSO-00-Create-Proxies.sol/62320/run-latest.json
  script/upgrades/PUSO/Config.sol
  script/upgrades/PUSO/PUSO.sol
  script/upgrades/PUSO/PUSOChecks.base.sol
  script/upgrades/PUSO/PUSOChecks.sol
  script/upgrades/PUSO/PUSOChecks.swap.sol
  script/upgrades/PUSO/PUSOChecks.verify.sol
  script/upgrades/PUSO/deploy/PUSO-00-Create-Proxies.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: update PUSO reference and remove old broadcast files
  broadcast/PSO-00-Create-Proxies.sol/42220/run-latest.json
  broadcast/PSO-00-Create-Proxies.sol/44787/run-latest.json
  broadcast/PSO-00-Create-Proxies.sol/62320/run-latest.json
  script/upgrades/MU07/MU07.sol
  script/upgrades/MU07/MU07Checks.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

forge install: mento-core-2.5.0
  .gitmodules
Due: none

chore: cleanup
  remappings.txt
  script/upgrades/PSO/deploy/PSO-00-Create-Proxies.sol
Due: prettier --config .prettierrc.yml --write

fix: typo in contract name
  script/dev/dev-DeployMockChainlinkAggregator.sol
Due: prettier --config .prettierrc.yml --write

fix: naming in DeployMockChainlinkAggregator
  script/dev/dev-DeployMockChainlinkAggregator.sol
Due: prettier --config .prettierrc.yml --write

fix: solhint warnings
  script/dev/dev-RelayerReport.sol
  script/dev/dev-RelayerStatus.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/upgrades/MU07/MU07.sol
  script/upgrades/MU07/MU07Checks.sol
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayerFactory.sol
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayers.sol
Due: prettier --config .prettierrc.yml --write

feat: redeploy and cleanup
  broadcast/MU07-Deploy-ChainlinkRelayerFactory.sol/44787/run-latest.json
  broadcast/MU07-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/MU07.sol/44787/run-latest.json
  script/dev/dev-RelayerReport.sol
  script/dev/dev-RelayerStatus.sol
  script/upgrades/MU07/MU07.sol
  script/upgrades/MU07/MU07Checks.sol
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayerFactory.sol
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayers.sol
  script/utils/mento/Oracles.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: add broadcast file
  broadcast/ExecuteProposal.sol/44787/MU07.json
Due: prettier --config .prettierrc.yml --write

fix: remove 2.4.0
  .gitmodules
Due: none

Update script/upgrades/MU07/MU07.sol
  script/upgrades/MU07/MU07.sol
Due: prettier --config .prettierrc.yml --write

fix: rename broadcast files to be consistent
  broadcast/ExecuteProposal.sol/44787/MUGOV.json
  broadcast/ExecuteProposal.sol/44787/run-latest.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-PHPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/62320/run-CELOUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/62320/run-PHPUSD.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: rename broadcast files to be consistent
  broadcast/ExecuteProposal.sol/42220/run-MUGOV.json
  broadcast/ExecuteProposal.sol/44787/run-MU07.json
  broadcast/ExecuteProposal.sol/44787/run-MUGOV.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: make naming consistent and mock aggregator ownable
  .gitignore
  bin/utils/sourcify.ts
  bin/verify-celoscan.ts
  broadcast/DeployMockChainlinkAggregator.sol/44787/run-PHPUSD.json
  broadcast/DeployMockChainlinkAggregator.sol/62320/run-CELOUSD.json
  broadcast/DeployMockChainlinkAggregator.sol/62320/run-PHPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/PHPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/62320/CELOUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/62320/PHPUSD.json
  contracts/MockChainlinkAggregator.sol
  remappings.txt
  script/dev/dev-DeployMockChainlinkAggregator.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/upgrades/MU07/MU07.sol
  script/upgrades/MU07/MU07Checks.sol
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayerFactory.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: rerun alfajores deployment
  broadcast/ExecuteProposal.sol/44787/run-MU07.json
  broadcast/MU07-Deploy-ChainlinkRelayerFactory.sol/44787/run-latest.json
  broadcast/MU07-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/MU07.sol/44787/run-latest.json
  script/upgrades/MU07/MU07Checks.sol
  script/upgrades/MU07/deploy/MU07-Deploy-ChainlinkRelayerFactory.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy relayers to mainnet
  broadcast/MU07-Deploy-ChainlinkRelayerFactory.sol/42220/run-latest.json
  broadcast/MU07-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  script/upgrades/MU07/MU07.sol
  script/upgrades/MU07/MU07Checks.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: review changes
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

chore: add .md link
  script/upgrades/MU07/MU07.sol
Due: prettier --config .prettierrc.yml --write

chore: small changes
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

chore: import factory from broadcast files
  bin/cgp.sh
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write
