Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: mock redstone adapter
  .gitignore
  broadcast/dev-DeployMockRedstoneAdapter.sol/44787/run-latest.json
  contracts/MockRedstoneAdapter.sol
  script/dev/dev-DeployMockRedstoneAdapter.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/dev/dev-UpdateMockRedstoneAdapter.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: update redstone mock
  broadcast/dev-DeployMockRedstoneAdapter.sol/44787/run-latest.json
  contracts/MockRedstoneAdapter.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: add relay to update script
  script/dev/dev-UpdateMockRedstoneAdapter.sol
Due: prettier --config .prettierrc.yml --write

fix: update deploy relayers script
  script/upgrades/SunsetOracles/deploy/SunsetOracles-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write

chore: wip
  script/upgrades/SunsetOracles/Config.sol
  script/upgrades/SunsetOracles/SunsetOracles.sol
  script/upgrades/SunsetOracles/SunsetOraclesChecks.sol
Due: prettier --config .prettierrc.yml --write

refactor: rename to OracleMigration
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-01-Deploy-CheckExistingRelayers.sol
  script/upgrades/SunsetOracles/SunsetOraclesChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: deploy new mainnet relayers
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: wip configs
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
Due: prettier --config .prettierrc.yml --write

fix: move loading outside of the constructor so the contracts compile 🧶
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: additional fx relayers
  script/upgrades/OracleMigration/deploy/OracleMigration-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write

feat: oracle migration
  .gitignore
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/SunsetOracles-00-Deploy-ChainlinkRelayers.sol/44787/run-1743770232.json
  broadcast/SunsetOracles-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-AUDUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-BRLUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CADUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CELOUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CHFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-COPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ETHUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-EURCUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-EURUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GBPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GHSUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-JPYUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-KESUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-NGNUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-PHPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-USDCUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-USDTUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-XOFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ZARUSD.json
  broadcast/dev-DeployMockRedstoneAdapter.sol/44787/run-latest.json
  contracts/MockChainlinkAggregator.sol
  contracts/MockRedstoneAdapter.sol
  script/dev/dev-DeployMockRedstoneAdapter.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/dev/dev-UpdateMockRedstoneAdapter.sol
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-01-Deploy-CheckExistingRelayers.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: compilation err
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
Due: prettier --config .prettierrc.yml --write

fix: import FixidityLib alongside IBiPoolManager
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
Due: prettier --config .prettierrc.yml --write

feat: deploy eur/usd, brl/usd and xof/usd relayers
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/42220/run-1747352573.json
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: cleanups and green simulation
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/utils/Arrays.sol
Due: prettier --config .prettierrc.yml --write

chore: unused libs
  script/upgrades/OracleMigration/OracleMigration.sol
Due: prettier --config .prettierrc.yml --write

refactor: cleanup, unused vars, etc
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-01-Deploy-CheckExistingRelayers.sol
Due: prettier --config .prettierrc.yml --write

refactor: more cleanups, log msgs
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: relay mainnet prices to Alfajores
  .gitignore
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-AUDUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-BRLUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CADUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CELOUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CHFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-COPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ETHUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-EURCUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-EURUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GBPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GHSUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-JPYUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-KESUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-NGNUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-PHPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-USDCUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-USDTUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-XOFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ZARUSD.json
  broadcast/dev-DeployMockRedstoneAdapter.sol/44787/run-latest.json
  contracts/MockChainlinkAggregator.sol
  contracts/MockRedstoneAdapter.sol
  script/dev/dev-DeployMockRedstoneAdapter.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/dev/dev-UpdateMockRedstoneAdapter.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: oracle migration
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/42220/run-1747352573.json
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/SunsetOracles-00-Deploy-ChainlinkRelayers.sol/44787/run-1743770232.json
  broadcast/SunsetOracles-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
  script/utils/Arrays.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: md file url
  script/upgrades/OracleMigration/OracleMigration.sol
Due: prettier --config .prettierrc.yml --write

chore: add length check on update()
  contracts/MockRedstoneAdapter.sol
Due: prettier --config .prettierrc.yml --write

chore: add env vars
  .env.example
Due: none

chore: cache array length
  contracts/MockRedstoneAdapter.sol
Due: prettier --config .prettierrc.yml --write

fix: linter errs
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/dev/dev-UpdateMockRedstoneAdapter.sol
Due: prettier --config .prettierrc.yml --write

feat: relay mainnet prices to Alfajores (#277)
  .env.example
  .gitignore
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-AUDUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-BRLUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CADUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CELOUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CHFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-COPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ETHUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-EURCUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-EURUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GBPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GHSUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-JPYUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-KESUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-NGNUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-PHPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-USDCUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-USDTUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-XOFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ZARUSD.json
  broadcast/dev-DeployMockRedstoneAdapter.sol/44787/run-latest.json
  contracts/MockChainlinkAggregator.sol
  contracts/MockRedstoneAdapter.sol
  script/dev/dev-DeployMockRedstoneAdapter.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/dev/dev-UpdateMockRedstoneAdapter.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

refactor: combine additional feeds check with checkSortedOraclesConfig()
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
Due: prettier --config .prettierrc.yml --write

fix: add back jpy and ngn aggregator addresses
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write

feat: oracle migration (#278)
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/42220/run-1747352573.json
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/OracleMigration-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/SunsetOracles-00-Deploy-ChainlinkRelayers.sol/44787/run-1743770232.json
  broadcast/SunsetOracles-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  script/upgrades/OracleMigration/Config.sol
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/upgrades/OracleMigration/deploy/OracleMigration-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
  script/utils/Arrays.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: split oracle migration into 2 proposals
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/upgrades/OracleRemoval/OracleRemoval.sol
  script/upgrades/OracleRemoval/OracleRemovalChecks.sol
Due: prettier --config .prettierrc.yml --write

fix: remove unused var
  script/upgrades/OracleRemoval/OracleRemovalChecks.sol
Due: prettier --config .prettierrc.yml --write

chore: migration cgp url
  script/upgrades/OracleMigration/OracleMigration.sol
Due: prettier --config .prettierrc.yml --write

fix: split oracle migration into 2 proposals (#279)
  script/upgrades/OracleMigration/OracleMigration.sol
  script/upgrades/OracleMigration/OracleMigrationChecks.sol
  script/upgrades/OracleRemoval/OracleRemoval.sol
  script/upgrades/OracleRemoval/OracleRemovalChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: wip pool restructuring
  script/upgrades/PoolRestructuring/Config.sol
  script/upgrades/PoolRestructuring/PoolRestructuring.sol
  script/upgrades/PoolRestructuring/PoolRestructuringChecks.sol
Due: prettier --config .prettierrc.yml --write

chore: not used
  script/upgrades/PoolRestructuring/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: log msg
  script/upgrades/PoolRestructuring/PoolRestructuringChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: value delta breaker
  script/upgrades/PoolRestructuring/Config.sol
  script/upgrades/PoolRestructuring/PoolRestructuring.sol
  script/upgrades/PoolRestructuring/PoolRestructuringChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: trading limits
  script/upgrades/PoolRestructuring/Config.sol
  script/upgrades/PoolRestructuring/PoolRestructuring.sol
  script/upgrades/PoolRestructuring/PoolRestructuringChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: working new pools
  script/upgrades/PoolRestructuring/NewPoolsConfig.sol
  script/upgrades/PoolRestructuring/PoolRestructuring.sol
  script/upgrades/PoolRestructuring/PoolRestructuringChecks.sol
Due: prettier --config .prettierrc.yml --write

refactor: separate cfgs
  script/upgrades/PoolRestructuring/CfgHelper.sol
  script/upgrades/PoolRestructuring/Config.sol
  script/upgrades/PoolRestructuring/NewPoolsConfig.sol
  script/upgrades/PoolRestructuring/PoolRestructuring.sol
  script/upgrades/PoolRestructuring/PoolRestructuringChecks.sol
  script/upgrades/PoolRestructuring/PoolsCleanupCfg.sol
  script/upgrades/PoolRestructuring/TradingLimitsCfg.sol
  script/upgrades/PoolRestructuring/ValueDeltaBreakerCfg.sol
Due: prettier --config .prettierrc.yml --write

Path conditions:
  prettier --config .prettierrc.yml --write: any of: *.{json,md,sol,yml}
  ./bin/pre-commit-check.sh: any of: broadcast/**/*.json
