Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: add ghsusd to aggregator update script
  script/dev/dev-UpdateMockChainlinkAggregators.sol
Due: prettier --config .prettierrc.yml --write

chore: add relayer deployment and whitelist
  script/upgrades/GHSWhitelist/GHSWhitelist.sol
  script/upgrades/GHSWhitelist/GHSWhitelistChecks.sol
  script/upgrades/GHSWhitelist/deploy/GHSWhitelist-00-Deploy-ChainlinkRelayers.sol
Due: prettier --config .prettierrc.yml --write

chore: deploy ghs proxy alfajores
  broadcast/cGHS-00-Deploy-Proxy.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy alfajores ghs relayers
  broadcast/GHSWhitelist-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy cghs proxy
  broadcast/cGHS-00-Deploy-Proxy.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy mainnet relayer
  broadcast/GHSWhitelist-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: fix deployment script
  script/upgrades/GHSWhitelist/GHSWhitelist.sol
  script/upgrades/GHSWhitelist/GHSWhitelistChecks.sol
Due: prettier --config .prettierrc.yml --write

chore: remove todo
  script/upgrades/cGHS/Config.sol
Due: prettier --config .prettierrc.yml --write

fixing compile
  .gitignore
  contracts/locking/Locking.sol
  contracts/locking/LockingBase.sol
  contracts/locking/LockingRelock.sol
  contracts/locking/LockingVotes.sol
  contracts/locking/interfaces/ILocking.sol
  contracts/locking/libs/LibBrokenLine.sol
  contracts/locking/libs/LibIntMapping.sol
  script/dev/dev-UpgradeLockingContract.sol
Due: prettier --config .prettierrc.yml --write

fix: remappings
  package.json
  remappings.txt
  yarn.lock
Due: prettier --config .prettierrc.yml --write

fix: remapping issue
  .gitignore
  package.json
  remappings.txt
Due: prettier --config .prettierrc.yml --write

chore: remove whitelist
  script/upgrades/GHSWhitelist/GHSWhitelist.sol
Due: prettier --config .prettierrc.yml --write

feat: raw structure figured out
  script/dev/dev-UpgradeLockingContract.sol
Due: prettier --config .prettierrc.yml --write

feat: script ready
  script/dev/dev-UpgradeLockingContract.sol
Due: prettier --config .prettierrc.yml --write

feat: deploy & whitelist cGHS relayers (#252)
  broadcast/GHSWhitelist-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/GHSWhitelist-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/cGHS-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cGHS-00-Deploy-Proxy.sol/44787/run-latest.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GHSUSD.json
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/upgrades/GHSWhitelist/GHSWhitelist.sol
  script/upgrades/GHSWhitelist/GHSWhitelistChecks.sol
  script/upgrades/GHSWhitelist/deploy/GHSWhitelist-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/cGHS/Config.sol
  script/upgrades/cGHS/deploy/cGHS-00-Deploy-Proxy.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: added verbosity to parameters
  script/dev/dev-UpgradeLockingContract.sol
Due: prettier --config .prettierrc.yml --write

feat: final locking contract versions
  contracts/locking/LockingRelock.sol
Due: prettier --config .prettierrc.yml --write

feat: add cop checks
  script/upgrades/cGHS/cGHS.sol
  script/upgrades/cGHS/cGHSChecks.base.sol
  script/upgrades/cGHS/cGHSChecks.sol
  script/upgrades/cGHS/cGHSChecks.swap.sol
  script/upgrades/cGHS/cGHSChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

feat: update deploy script
  script/upgrades/cGHS/deploy/cGHS-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write

feat: include cghs in transfer
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
Due: prettier --config .prettierrc.yml --write

feat: add fee currency directory
  script/interfaces/IFeeCurrencyDirectory.sol
  script/upgrades/cGHS/cGHS.sol
Due: prettier --config .prettierrc.yml --write

feat: update whitelist check
  script/upgrades/cGHS/cGHSChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

fix: removed duplicate entries
  remappings.txt
Due: none

feat: imported latest core version
  .gitmodules
  contracts/locking/Locking.sol
  contracts/locking/LockingBase.sol
  contracts/locking/LockingRelock.sol
  contracts/locking/LockingVotes.sol
  contracts/locking/interfaces/ILocking.sol
  contracts/locking/libs/LibBrokenLine.sol
  contracts/locking/libs/LibIntMapping.sol
  remappings.txt
  script/dev/dev-UpgradeLockingContract.sol
Due: prettier --config .prettierrc.yml --write

chore: pruned remappings
  remappings.txt
Due: none

chore: matched yarnlock entry with lib dependency
  yarn.lock
Due: none

fix: remapping issue (#253)
  .gitignore
  package.json
  remappings.txt
  yarn.lock
Due: prettier --config .prettierrc.yml --write

chore: parked pending v2.6.2 release
  script/dev/dev-UpgradeLockingContract.sol
Due: prettier --config .prettierrc.yml --write

feat: cghs proposal
  script/upgrades/cGHS/cGHSChecks.sol
  script/upgrades/cGHSCelo/cGHSCelo.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.base.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.swap.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.verify.sol
  script/upgrades/cGHSCelo/deploy/cGHS-00-Deploy-Proxy.sol
  script/upgrades/cGHSMento/cGHSMento.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.base.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.swap.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.verify.sol
  script/upgrades/cGHSMento/deploy/cGHS-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write

feat: update checks
  script/upgrades/cGHSCelo/cGHSCelo.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.base.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.verify.sol
  script/upgrades/cGHSMento/cGHSMento.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.base.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: update ghs config
  script/upgrades/cGHS/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: remove comment for line length
  script/upgrades/cGHSCelo/cGHSCeloChecks.base.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.base.sol
Due: prettier --config .prettierrc.yml --write

chore: update rate reset frequency
  script/upgrades/cGHS/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: one governance ✊
  script/upgrades/cGHS/cGHS.sol
  script/upgrades/cGHS/cGHSChecks.base.sol
  script/upgrades/cGHS/cGHSChecks.sol
  script/upgrades/cGHS/cGHSChecks.swap.sol
  script/upgrades/cGHS/cGHSChecks.verify.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.base.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.swap.sol
  script/upgrades/cGHSCelo/cGHSCeloChecks.verify.sol
  script/upgrades/cGHSCelo/deploy/cGHS-00-Deploy-Proxy.sol
  script/upgrades/cGHSMento/cGHSMento.sol
  script/upgrades/cGHSMento/cGHSMentoChecks.sol
  script/upgrades/cGHSMento/deploy/cGHS-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write

fix: simulation
  script/upgrades/cGHS/cGHSChecks.swap.sol
  script/upgrades/cGHS/cGHSChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

revert: deployment script changes
  script/upgrades/cGHS/deploy/cGHS-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write

chore: removed 2.6.1
  .gitmodules
Due: none

forge install: mento-core-2.6.2
  .gitmodules
Due: none

Path conditions:
  prettier --config .prettierrc.yml --write: any of: *.{json,md,sol,yml}
  ./bin/pre-commit-check.sh: any of: broadcast/**/*.json
