Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

Feat/MU08 (#212)
  script/upgrades/MU08/MU08.md
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

feat: convert uint ts 2 str
  script/utils/mento/GovernanceHelper.sol
Due: prettier --config .prettierrc.yml --write

feat: convert uint ts 2 str (#213)
  script/utils/mento/GovernanceHelper.sol
Due: prettier --config .prettierrc.yml --write

feat: add minipay airdrop csv generation script
  .env.example
  package.json
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
  yarn.lock
Due: prettier --config .prettierrc.yml --write

feat: add dune-api-key to get-secrets script
  bin/get-secrets.sh
Due: none

feat: add deployment script for merkle distributor
  .gitmodules
  data/test.root.json
  remappings.txt
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
  script/upgrades/MINIDROP/deploy/import.sol
Due: prettier --config .prettierrc.yml --write

feat: use merkle distributor with deadline
  data/test.root.json
  foundry.toml
  script/upgrades/MINIDROP/data/alfajores.root.json
  script/upgrades/MINIDROP/data/celo.root.json
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
  script/upgrades/MINIDROP/deploy/import.sol
Due: prettier --config .prettierrc.yml --write

feat: improve error handling
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
Due: none

feat: add minipay airdrop csv generation script (#216)
  .env.example
  bin/get-secrets.sh
  package.json
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
  yarn.lock
Due: prettier --config .prettierrc.yml --write

refactor: json path
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write

feat: transfer ownership to MentolabsMultisig
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write

chore:move import.sol out of deploy folder
  script/upgrades/MINIDROP/Import.sol
Due: prettier --config .prettierrc.yml --write

chore: improved UX for ./bin/get-secrets.sh with more output and error-handling
  bin/get-secrets.sh
Due: none

chore: improved UX for ./bin/get-secrets.sh with more output and error-handling (#218)
  bin/get-secrets.sh
Due: none

chore: remove misleading comment
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write

Feat/deploy merkle distributor (#217)
  .gitmodules
  foundry.toml
  remappings.txt
  script/upgrades/MINIDROP/Import.sol
  script/upgrades/MINIDROP/data/alfajores.root.json
  script/upgrades/MINIDROP/data/celo.root.json
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write

feat: create 2 csv + filter out small allocations
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
Due: none

chore: set fetch limit back to 10_000 rows
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
Due: none

chore: move consts to top
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
Due: none

Feat/update csv generation script to generate 2 csv (#219)
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
Due: none

feat: add a testing merkle tree distributor that can be unclaimed
  bin/verify-celoscan.ts
  contracts/TestingMerkleDistributor.sol
  script/dev/dev-DeployTestingMerkleDistributor.sol
  script/dev/dev-ToggleTestingDistributorClaimed.sol
  script/interfaces/IGovernor.sol
  script/utils/mento/Chain.sol
  script/utils/mento/Contracts.sol
  script/utils/mento/ExecuteProposal.sol
  script/utils/mento/GovernanceHelper.sol
  script/utils/mento/Oracles.sol
  script/utils/mento/PassProposal.sol
  script/utils/mento/QueueProposal.sol
  script/utils/mento/Script.sol
  script/utils/mento/SimulateUpgrade.sol
Due: prettier --config .prettierrc.yml --write

feat: add full contracts to the testing file
  contracts/TestingMerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write

Create and deploy a revertible distributor for testing (#220)
  bin/verify-celoscan.ts
  contracts/TestingMerkleDistributor.sol
  script/dev/dev-DeployTestingMerkleDistributor.sol
  script/dev/dev-ToggleTestingDistributorClaimed.sol
  script/interfaces/IGovernor.sol
  script/utils/mento/Chain.sol
  script/utils/mento/Contracts.sol
  script/utils/mento/ExecuteProposal.sol
  script/utils/mento/GovernanceHelper.sol
  script/utils/mento/Oracles.sol
  script/utils/mento/PassProposal.sol
  script/utils/mento/QueueProposal.sol
  script/utils/mento/Script.sol
  script/utils/mento/SimulateUpgrade.sol
Due: prettier --config .prettierrc.yml --write

feat: remove scripts - we don't need it
  script/upgrades/MINIDROP/data/alfajores.root.json
  script/upgrades/MINIDROP/data/celo.root.json
  script/upgrades/MINIDROP/data/generate-airdrop-csv.ts
Due: prettier --config .prettierrc.yml --write

feat: simplify script
  data/oct2024.minipay.MENTO.root.json
  data/oct2024.minipay.cUSD.root.json
  script/upgrades/MINIDROP/Import.sol
  script/upgrades/MINIDROP/deploy/MINIDROP-00-Create-MerkleDistributor.sol
Due: prettier --config .prettierrc.yml --write

feat: transfer proxy admin and PUSO ownership
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

feat: transfer proxy admin and PUSO ownership (#223)
  script/upgrades/MU08/MU08.sol
  script/upgrades/MU08/MU08Checks.sol
Due: prettier --config .prettierrc.yml --write

feat: mu08 executed on alfajores
  broadcast/ExecuteProposal.sol/44787/run-1728291336.json
  broadcast/ExecuteProposal.sol/44787/run-latest.json
  broadcast/MU08.sol/44787/run-1728290891.json
  broadcast/MU08.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: change PUSO references to cCOP
  script/upgrades/cCOP/Config.sol
  script/upgrades/cCOP/PUSO.sol
  script/upgrades/cCOP/PUSOChecks.base.sol
  script/upgrades/cCOP/PUSOChecks.sol
  script/upgrades/cCOP/PUSOChecks.swap.sol
  script/upgrades/cCOP/PUSOChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: copy PUSO scripts into cCOP folder
  script/upgrades/cCOP/Config.sol
  script/upgrades/cCOP/PUSO.sol
  script/upgrades/cCOP/PUSOChecks.base.sol
  script/upgrades/cCOP/PUSOChecks.sol
  script/upgrades/cCOP/PUSOChecks.swap.sol
  script/upgrades/cCOP/PUSOChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: rename PUSO scripts to cCOP
  script/upgrades/cCOP/cCOP.sol
  script/upgrades/cCOP/cCOPChecks.base.sol
  script/upgrades/cCOP/cCOPChecks.sol
  script/upgrades/cCOP/cCOPChecks.swap.sol
  script/upgrades/cCOP/cCOPChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: fix imports after renaming scripts
  script/upgrades/cCOP/cCOPChecks.sol
  script/upgrades/cCOP/cCOPChecks.swap.sol
  script/upgrades/cCOP/cCOPChecks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: adjust $cCOP pool params to the COP/USD exchnge rate
  script/upgrades/cCOP/Config.sol
Due: prettier --config .prettierrc.yml --write

fix: revert reset frequency to 5 minutes
  script/upgrades/cCOP/Config.sol
Due: prettier --config .prettierrc.yml --write

feat: add script to deploy CELO/COP and COP/USD relayers
  script/upgrades/COPWhitelist/deploy/cCOPWhitelist-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write

chore: deploy cCOP proxy to alfajores and mainnet
  broadcast/cCOP-00-Create-Proxies.sol/42220/run-latest.json
  broadcast/cCOP-00-Create-Proxies.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy cCOP proxy to alfajores and mainnet (#227)
  broadcast/cCOP-00-Create-Proxies.sol/42220/run-latest.json
  broadcast/cCOP-00-Create-Proxies.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: whitelist deployment scripts
  script/upgrades/COPWhitelist/COPWhitelist.sol
  script/upgrades/COPWhitelist/COPWhitelistChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: deploy COPUSD mock aggregator to alfajores
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-COPUSD.json
  script/dev/dev-DeployMockChainlinkAggregator.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: rename whitelist script
  script/upgrades/COPWhitelist/deploy/COPWhitelist-00-Deploy-ChainlinkRelayers.sol
Due: prettier --config .prettierrc.yml --write

Path conditions:
  prettier --config .prettierrc.yml --write: any of: *.{json,md,sol,yml}
  ./bin/pre-commit-check.sh: any of: broadcast/**/*.json
