Repository mento-protocol/mento-deployment: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: deploy mock relayers for CHF, GBP, JPY, NGN
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CHFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GBPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-JPYUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-NGNUSD.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: add decimals setter and re-deploy JPY and NGN
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-JPYUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-NGNUSD.json
  contracts/MockChainlinkAggregator.sol
  script/dev/dev-DeployMockChainlinkAggregator.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: update mock aggs script with new relayers
  script/dev/dev-UpdateMockChainlinkAggregators.sol
Due: prettier --config .prettierrc.yml --write

chore: add 2.6.5
  .gitmodules
  remappings.txt
Due: none

feat: G7 proxys deployment script
  broadcast/G7-00-Deploy-Proxys.sol/44787/run-latest.json
  script/upgrades/G7Whitelist/deploy/G7-00-Deploy-Proxys.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: mainnet proxys deployment
  broadcast/G7-00-Deploy-Proxys.sol/42220/run-latest.json
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: alfajores mock aggregators
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-AUDUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CADUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GBPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ZARUSD.json
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: update alfajores script
  script/dev/dev-UpdateMockChainlinkAggregators.sol
Due: prettier --config .prettierrc.yml --write

feat: G7Whitelist relayers deploy script
  script/upgrades/G7Whitelist/deploy/G7Whitelist-00-Deploy-ChainlinkRelayers.sol
Due: prettier --config .prettierrc.yml --write

feat: mainnet relayers deployment
  broadcast/G7Whitelist-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: alfajores relayers deployment
  broadcast/G7Whitelist-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: working simulation
  script/upgrades/G7Whitelist/G7Whitelist.sol
  script/upgrades/G7Whitelist/G7WhitelistChecks.sol
Due: prettier --config .prettierrc.yml --write

feat: update scripts
  script/upgrades/FX01/Config.sol
  script/upgrades/FX01/FX01.md
  script/upgrades/FX01/FX01.sol
  script/upgrades/FX01/FX01Checks.base.sol
  script/upgrades/FX01/FX01Checks.sol
  script/upgrades/FX01/FX01Checks.swap.sol
  script/upgrades/FX01/FX01Checks.verify.sol
  script/upgrades/FX01/deploy/FX01-00-Create-Proxies.sol
  script/upgrades/cJPYxNGN/Config.sol
  script/upgrades/cJPYxNGN/cJPYxNGNChecks.sol
  script/upgrades/cJPYxNGN/deploy/cJPY-00-Deploy-Proxy.sol
  script/upgrades/cJPYxNGN/deploy/cNGN-00-Deploy-Proxy.sol
Due: prettier --config .prettierrc.yml --write

feat: add latest mento core version
  .gitmodules
  remappings.txt
Due: none

chore: update ownership check
  script/upgrades/FX01/FX01Checks.verify.sol
Due: prettier --config .prettierrc.yml --write

chore: update asset1 limit config
  script/upgrades/FX01/Config.sol
Due: prettier --config .prettierrc.yml --write

chore: deploy proxies to alfajores
  broadcast/FX01-00-Create-Proxies.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: populate config obj properly
  script/upgrades/FX01/Config.sol
Due: prettier --config .prettierrc.yml --write

feat: G7 tokens relayers script (#264)
  .gitmodules
  broadcast/G7-00-Deploy-Proxys.sol/42220/run-latest.json
  broadcast/G7-00-Deploy-Proxys.sol/44787/run-latest.json
  broadcast/G7Whitelist-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/G7Whitelist-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-AUDUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CADUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-CHFUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-GBPUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-JPYUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-NGNUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-ZARUSD.json
  contracts/MockChainlinkAggregator.sol
  remappings.txt
  script/dev/dev-DeployMockChainlinkAggregator.sol
  script/dev/dev-UpdateMockChainlinkAggregators.sol
  script/upgrades/G7Whitelist/G7Whitelist.sol
  script/upgrades/G7Whitelist/G7WhitelistChecks.sol
  script/upgrades/G7Whitelist/deploy/G7-00-Deploy-Proxys.sol
  script/upgrades/G7Whitelist/deploy/G7Whitelist-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: remove deployment and rename load
  script/upgrades/FX01/FX01.sol
  script/upgrades/FX01/FX01Checks.base.sol
  script/upgrades/FX01/deploy/FX01-00-Create-Proxies.sol
Due: prettier --config .prettierrc.yml --write

refactor: rename G7 to script FX00
  broadcast/FX00-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/FX00-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/FX00-00-Deploy-Proxys.sol/42220/run-latest.json
  broadcast/FX00-00-Deploy-Proxys.sol/44787/run-latest.json
  script/upgrades/FX00/FX00.sol
  script/upgrades/FX00/FX00Checks.sol
  script/upgrades/FX00/deploy/FX00-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/FX00/deploy/FX00-00-Deploy-Proxys.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

refactor: rename G7 to script FX00 (#266)
  broadcast/FX00-00-Deploy-ChainlinkRelayers.sol/42220/run-latest.json
  broadcast/FX00-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  broadcast/FX00-00-Deploy-Proxys.sol/42220/run-latest.json
  broadcast/FX00-00-Deploy-Proxys.sol/44787/run-latest.json
  script/upgrades/FX00/FX00.sol
  script/upgrades/FX00/FX00Checks.sol
  script/upgrades/FX00/deploy/FX00-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/FX00/deploy/FX00-00-Deploy-Proxys.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: remove latest mento
  .gitmodules
Due: none

chore: removed jpyngn proxies and load FX00
  broadcast/cJPY-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cJPY-00-Deploy-Proxy.sol/44787/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/44787/run-latest.json
  script/upgrades/FX01/FX01.sol
  script/upgrades/FX01/FX01Checks.base.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: remove old deploy script
  broadcast/FX01-00-Create-Proxies.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: add scripts to launch GBP, ZAR, CAD, AUD (#265)
  broadcast/cJPY-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cJPY-00-Deploy-Proxy.sol/44787/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/42220/run-latest.json
  broadcast/cNGN-00-Deploy-Proxy.sol/44787/run-latest.json
  script/upgrades/FX01/Config.sol
  script/upgrades/FX01/FX01.md
  script/upgrades/FX01/FX01.sol
  script/upgrades/FX01/FX01Checks.base.sol
  script/upgrades/FX01/FX01Checks.sol
  script/upgrades/FX01/FX01Checks.swap.sol
  script/upgrades/FX01/FX01Checks.verify.sol
  script/upgrades/cJPYxNGN/deploy/cJPY-00-Deploy-Proxy.sol
  script/upgrades/cJPYxNGN/deploy/cNGN-00-Deploy-Proxy.sol
  script/utils/Contracts.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

fix: add CGP177 and CGP174 MD urls
  script/upgrades/FX00/FX00.sol
  script/upgrades/RenameCGHS/RenameCGHS.sol
Due: prettier --config .prettierrc.yml --write

fix: add CGP177 and CGP174 MD urls (#267)
  script/upgrades/FX00/FX00.sol
  script/upgrades/RenameCGHS/RenameCGHS.sol
Due: prettier --config .prettierrc.yml --write

feat: fx01 copy pasta
  script/upgrades/FX03/Config.sol
  script/upgrades/FX03/FX03.md
  script/upgrades/FX03/FX03.sol
  script/upgrades/FX03/FX03Checks.base.sol
  script/upgrades/FX03/FX03Checks.sol
  script/upgrades/FX03/FX03Checks.swap.sol
  script/upgrades/FX03/FX03Checks.verify.sol
Due: prettier --config .prettierrc.yml --write

feat: add mgp06
  broadcast/MGP06.sol/44787/run-latest.json
  foundry.toml
  script/upgrades/MGP06/MGP06.md
  script/upgrades/MGP06/MGP06.sol
  script/upgrades/MGP06/MGP06Checks.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

delete: broadcast file
  broadcast/MGP06.sol/44787/run-latest.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: wip
  script/upgrades/SunsetOraclesCGP01/SunsetOraclesCGP01.sol
  script/upgrades/SunsetOraclesCGP01/SunsetOraclesCGP01Checks.sol
  script/upgrades/SunsetOraclesCGP01/deploy/SunsetOraclesCGP01-00-Deploy-ChainlinkRelayers.sol
  script/upgrades/SunsetOraclesCGP02/SunsetOraclesCGP02.sol
  script/upgrades/SunsetOraclesMGP/SunsetOraclesMGP.sol
Due: prettier --config .prettierrc.yml --write

chore: update cgp link
  script/upgrades/FX01/FX01.sol
Due: prettier --config .prettierrc.yml --write

chore: update cgp url (#270)
  script/upgrades/FX01/FX01.sol
Due: prettier --config .prettierrc.yml --write

chore: give read access to parent dir instead
  foundry.toml
Due: none

feat: add mgp06 (#269)
  foundry.toml
  script/upgrades/MGP06/MGP06.md
  script/upgrades/MGP06/MGP06.sol
  script/upgrades/MGP06/MGP06Checks.sol
Due: prettier --config .prettierrc.yml --write

chore: add mock relayers
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-EURCUSD.json
  broadcast/dev-DeployMockChainlinkAggregator.sol/44787/run-XOFUSD.json
  script/dev/dev-UpdateMockChainlinkAggregators.sol
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

feat: deploy alfajores relayers
  broadcast/SunsetOracles-00-Deploy-ChainlinkRelayers.sol/44787/run-latest.json
  script/upgrades/dependencies.json
Due: prettier --config .prettierrc.yml --write, ./bin/pre-commit-check.sh

chore: delete CGP02 and MGP
  script/upgrades/SunsetOraclesCGP02/SunsetOraclesCGP02.sol
  script/upgrades/SunsetOraclesMGP/SunsetOraclesMGP.sol
Due: prettier --config .prettierrc.yml --write

Path conditions:
  prettier --config .prettierrc.yml --write: any of: *.{json,md,sol,yml}
  ./bin/pre-commit-check.sh: any of: broadcast/**/*.json
